header {
    flex: auto;
    background-color: antiquewhite;
    size: 24px;
    
}

.flex-container {
    display: flex;
    flex: 1;
    justify-items: right;
    align-items: center;
    background-color: blueviolet;
    flex-direction: row;
}

.logo {
    text-decoration: wavy;
    font-weight: bold;
}